* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;

}

a {
  text-decoration: none;
  color: #21759b;
}
a:hover,
a:focus {
  text-decoration: underline;
}

#layout {
  padding-left: 25%; 
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 25%;
  margin-left: -25%;
  background-color: #212c3d;
  color: #fff;
}

.header {
  margin: 50% 2em 0;
  text-align: right;
}

.brand-title,
.brand-tagline {
  margin: 0;
}

.brand-tagline {
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 3em 0;
}

.post {
  padding-bottom: 2em;
}
.post-title {
  font-size: 1.5 em;
  color: #21759b;
  margin-bottom: 0.2em;
}
.post-avatar {
  border-radius: 50px;
  /*float: right;
  margin-left: 1em;*/
}
.post-description {

  color: #444;
  line-height: 1.8em;
  font-size: 14px;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}
.post-category-design {
  background: #5aba59;
}
.post-category-pure {
  background: #4d85d1;
}
.post-category-yui {
  background: #8156a7;
}
.post-category-js {
  background: #df2d4f;
}

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.contact {
  text-align: center;
  background: none;
  padding: 1em 0;
}
.contact a {
  color: #ccc;
  font-size: 80%;
}
.contact .pure-menu a:hover,
.contact .pure-menu a:focus {
  background: none;
}

.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children {
  background: none;
}

.footer{
  padding: 12px;
  border-top: 1px solid #efefef;
}

.footer p{
  text-align: center;
  font-size: 11px;
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    position: relative;
    margin: 0;
  }

  .header {
    text-align: center;
    top: auto;
    margin: 3em auto;
    position: static;
  }

  #layout {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 2em 1em 0;
  }
}
